<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Eugenie.Clients.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Eugenie.Clients.AdminPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <Eugenie.Clients.Admin.Properties.Settings>
      <setting name="Stores" serializeAs="String">
        <value>[]</value>
      </setting>
      <setting name="PrimaryColorUri" serializeAs="String">
        <value>pack://application:,,,/MaterialDesignColors;component/Themes/Recommended/Primary/MaterialDesignColor.DeepPurple.xaml</value>
      </setting>
      <setting name="AccentColorUri" serializeAs="String">
        <value>pack://application:,,,/MaterialDesignColors;component/Themes/Recommended/Accent/MaterialDesignColor.Lime.xaml</value>
      </setting>
      <setting name="IsDark" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>C:\EugenieLogs</value>
      </setting>
      <setting name="DeleteProductTasks" serializeAs="String">
        <value>[]</value>
      </setting>
      <setting name="AddOrUpdateProductTasks" serializeAs="String">
        <value>[]</value>
      </setting>
    </Eugenie.Clients.Admin.Properties.Settings>
    <Eugenie.Clients.AdminPanel.Properties.Settings>
      <setting name="Servers" serializeAs="String">
        <value>[]</value>
      </setting>
      <setting name="PrimaryColorUri" serializeAs="String">
        <value>pack://application:,,,/MaterialDesignColors;component/Themes/Recommended/Primary/MaterialDesignColor.DeepPurple.xaml</value>
      </setting>
      <setting name="AccentColorUri" serializeAs="String">
        <value>pack://application:,,,/MaterialDesignColors;component/Themes/Recommended/Accent/MaterialDesignColor.Lime.xaml</value>
      </setting>
      <setting name="IsDark" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>C:\EugenieLogs</value>
      </setting>
      <setting name="DeleteProductTasks" serializeAs="String">
        <value>[]</value>
      </setting>
      <setting name="AddOrUpdateProductTasks" serializeAs="String">
        <value>[]</value>
      </setting>
    </Eugenie.Clients.AdminPanel.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>